{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости ( {{ news|length }} )</h1>
    {% if posts %}
        <table>
            <tr>
                <td> Заголовок </td>
                <td> Дата публикации </td>
                <td> Содержание </td>
            </tr>
            {% for post in posts %}
                {% if post.position == 'NE' %} <!-- Вывожу только новости, не статьи-->
                    <tr>
                        <td> {{ post.header|censor }} </td>
                        <td> {{ post.time_in|date:'d M Y' }} </td>
                        <td> {{ post.text_post|censor|truncatewords:20 }} </td>
                    </tr>
                {% endif %}
            {% endfor %}

        </table>
    {% else %}
        <h2> Новостей нет! </h2>
    {% endif %}
{% endblock content %}